.drafts {
  border-left: medium solid darken($draft-color, 35%);
  padding-left: 5px;
}

.draft-label {
  background-color: $draft-color;
  float: right;
  font-size: 2rem;
  margin-top: -9rem;
  padding: 1.5rem;
}