@charset "utf-8";

// Define defaults for each variable.

$content-width: 1000px;

$text-color: #111;

@import "../themes/antiqua";
@import "../themes/sepia";
@import "../themes/zerg";
@import "../themes/protoss";

$theme: $sepia-theme;

$brand-color: theme-get($theme, "primary", "dark");
$light-brand-color: theme-get($theme, "primary", "lightest");
$dark-brand-color: theme-get($theme, "primary", "darker");

$background-color: $light-brand-color;
$draft-color: #ffffaa;
