---
layout: default
---
<div class="category">
    <header class="category-header">
        <h1 class="category-title">{{ page.title | escape }}</h1>
        {%- if page.description -%}
        <div class="post-content">
            <i class="description">{{ page.description }}</i>
        </div>
        {%- endif -%}
    </header>

    <div class="category-content">
        {{ content }}
    </div>

    <div class="category-posts">
        {% assign category_posts = site.categories[page.category]  %}
        {% include post-list.html list=category_posts %}
    </div>
</div>